<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nancy" version="2.0.0" targetFramework="net461" />
  <package id="Nancy.Hosting.Self" version="2.0.0" targetFramework="net461" />
  <package id="Nancy.Serialization.JsonNet" version="2.0.0-clinteastwood" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="RestSharp" version="106.6.10" targetFramework="net471" />
  <package id="Topshelf" version="4.2.1" targetFramework="net471" />
  <package id="Topshelf.Nancy" version="1.0.0.42" targetFramework="net471" />
</packages>