.outlined {
    margin-top: 10px;
    padding: 10px;
    outline: 2px solid #ccc;
    outline-offset: 0px;
    -moz-outline-radius: 10px;
    -webkit-outline-radius: 10px;
}

.title {
    text-align: center;
}

.jumbotron-mod1 {
    margin: 30px;
    padding: 30px;
}

.navbar-brand span {
    font-size: 2rem;    
    line-height: 1.2;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 15px;
}

.modal-content {
    width: inherit;
    height: inherit;
    margin: 120px;
}